/*
Avaliable Fonts -
font-family: 'Architects Daughter', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Yomogi', cursive;

font-family: 'Cabin Sketch', cursive;
font-family: 'Neucha', cursive;

titles -
  font-family: 'Cabin Sketch', cursive;
  colors:
    about- color: #00ff00;
    resume- color: #FF3366;
    work- color: #D68FD6;
    contact- color: #388697;

main text -
  font-family: 'Neucha', cursive;
  color: black;

*/

/******************************************/
/*************  Animations ****************/
/******************************************/

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    }
}

.reveal {
  animation: reveal 5s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes goDown {
  0%{transform: translateY(-15px);}
  100%{transform: translateY(0);}
}

nav a:hover {
  animation: goDown 1s 1;
}

@keyframes colorRotate {
  from {color: white;}
  12% {color:red;}
  24% {color: orange;}
  36% {color: yellow;}
  48% {color: green;}
  60% {color: blue;}
  72% {color: indigo;}
  84% {color: violet;}
  96% {color: red;}
  100% {color: white;}
}

.wave h1:hover {
  animation: colorRotate 5s infinite;
}

@keyframes blink {
    0% {opacity: 0;}
    40% {opacity: 0;}
    60% {opacity: 1;}
    100% {opacity: 1;}
  }

@keyframes spin {
      0% {
        transform: rotate(0deg);  }
      100% {
        transform: rotate(360deg); }
    }

.about-content img:hover {
  animation: spin 3s;
}

@keyframes slide {
  0% {transform: translate(0, 0);}
  100% { transform: translate(15%, 0%);}
}


.language-article div:hover {
  animation: slide ease .75s;
}

@keyframes pushPull {
  0% {transform: translateX(-10px);}
  10% {transform: translateX(10px);}
  20%{transform: translateX(0px);}
  30% {transform: translateX(-20px);}
  40% {transform: translateX(20px);}
  50% {transform: translateX(-20px);}
  60% {transform: translateX(0px);}
  70% {transform: translateX(-10px);}
  80% {transform: translateX(20px);}
  90% {transform: translateX(-10px);}
  100% {transform: translateX(0px);}
}

.school-name:hover {
  animation: pushPull 1.5s infinite;
}


/******************************************/
/*************   General   ****************/
/******************************************/
.hide {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  font-size: 12px;
  overflow: scroll;
  margin: 0;
  background-color: black;
}

main {
  margin: 0;
  background-color: white;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.underline {
  text-decoration: underline;
}

.col {
  display: flex column no-wrap;
}

.row {
  display: flex row no-wrap;
}

.hundred {
  width: 100%;
}

.one-fourth {
  width: 22%;
}

.one-third {
  width: 30%;
}

.one-half {
  width: 48%;
}

.three-fourth {
  width: 73%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/*************************************************/
/*************     Navigation     ****************/
/*************************************************/

nav {
  background: rgb(0,0,0,0.55);
  width: 100%;
  color: white;
}

nav ul {
  list-style-type: none;
  text-align: center;
  margin: 10px auto;
}

nav li {
  display: inline;
  font-size: 1.5em;
  font-family: 'Neucha', cursive;
  padding: 10px 25px;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a::after {
  color: white;
}

nav a:hover{
  color: #00ff00;
}

/*************************************************/
/*************   Header / Footer  ****************/
/*************************************************/

#matrix {
  width: 99%;
  height: 90vh;
  margin: -15% 0 0 0;
}

header {
  height: 100vh;
  color: white;
  background-color: black;
}

.header-wrapper {
  overflow: hidden;
}

.header-text {
  text-align: left;
  background-color: black;
  color: white;
  padding: 0 50px;
  margin: 70% auto;
}

.header-text h1 {
  font-family: 'Cabin Sketch', cursive;
  font-size: 4em;
  margin: 0;
}

.header-text h2 {
  font-family: 'Neucha', cursive;
  font-size: 2.25em;
  margin: 50px;
  letter-spacing: 5px;
}

.input-cursor {
 display: inline-block;
 width: 2px;
 height: 1em;
 background-color: white;
 margin-left: 8px;
 animation: blink .6s linear infinite alternate;
}

/******************************************/
/**************    Main    ****************/
/******************************************/
main section{
  min-height: 32vh;
  width: 100%;
  font-family: 'Neucha', cursive;
  font-size: 1em;

}

main h1 {
  font-family: 'Cabin Sketch', cursive;
  font-size: 2.5em;
  margin: 25px;
  padding-top: 100px;
}

main h2 {
  font-size: 1.5em;
}

/* About */
#about-section {
  background-color: #666666;
  display: flex row;
  flex-wrap: no-wrap;
  align-items: flex-start;
  margin: auto;
  min-height: 100vh;
}

#about-section h1,
#about-section h2 {
  color: #00ff00;
}

.about-content {
  width: 80%;
  align-items: center;
  margin: auto;
  padding: auto 50px;
  min-height: 50vh;
  color: white;
  line-height: 1.5;
}

.about-content img {
  width: 75%;
  margin: 50px;
}

/* Resume */
#resume-section {
  display: flex row;
  flex-wrap: no-wrap;
  align-items: flex-start;
  margin: auto;
  width: 90%;
  justify-content: space-between;
}

#resume-section h1,
#resume-section h2 {
  color: #FF3366;
}

#resume-section span {
  background-color: #00ff00;
  transition: all .9s
}

#resume-section span:hover {
  background-color: #D68FD6;
  padding: 25px;
}

.border {
  border: #black 5px solid;
  border-radius: 0 15 0 30;
}

.resume-buttons{
  text-align: center;
}

#resume-section button {
  background-color: #FF3366;
  font-family: 'Neucha', cursive;
  padding: 10px;
  font-size: 1.2em;
  margin: 75px auto;
  width: 30%;
}

.resume-sub-title {
  display: flex;
  flex-wrap: no-wrap;
  font-family: 'Cabin Sketch', cursive;
  font-size: 1em;
}

.school-article {
  display: flex;
  flex: row wrap;
}

.school-data {
  margin: auto 25px;
}

.job-article {
  display: flex;
  flex-wrap: no-wrap;
  align-items: center;
}

.job-article li {
  list-style: square;
}

.language-article{
  margin: 10px auto;
}

.language-text {
  text-align: right;
  font-weight: bolder;
  letter-spacing: 5px;
  align-items: center;
  margin: auto;
  padding: 20px;
  color: white;
}

.skills-article {
 display: flex ;
 flex-wrap: wrap ;
 width: 100%;
 justify-content: center
}

.skills-article article {
  transition: font-size .5s;
}

.skills-article article:hover {
  font-size: 1.4em
}

.skills-article p {
  margin: 20px 33px;
}


/* Work */

#work-section {
  width: 90%;
}

#work-section h1 {
  color: #D68FD6;
}

.work-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.repos input {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
  border: black 1px solid;
  text-align:center;
  margin: auto;
  padding: 25px;
  font-size: 1em;
  font-family: 'Orbitron', sans-serif;
}

.work-list li {
  width: 25%;
  margin: 1em 20px;
  border: 1px solid #D68FD6;
  border-radius: 5px 40px 5px;
  padding: 0.2em;
  list-style-type: none;
  text-align: center;
}


.work-list li:hover {
    background-color: #D68FD6;
    animation: colorRotate 3s infinite;
}

/* Contact */

#contact-section {
  min-height: 100vh;
}


/******************************************/
/**************    Tablet   ***************/
/******************************************/

@media only screen and (min-width: 767px) {
    body {
      font-size: 16px;
    }

    /******* Header *********/
    #matrix {
      height: 60vh;
    }

    .header-text {
      margin: auto;
    }

    /********************************/
    /*             Main             */
    /********************************/


    /************  About  ************/

      .about-content {
        display: flex;
        flex: row wrap;
      }

      .about-text {
        text-align: left;
        width: 90%
      }


    /************ Resume ************/

    #resume-section {
      width: 80%;

}


/******************************************/
/**************   Desktop  ****************/
/******************************************/


@media only screen and (min-width: 1200px) {
    body {
      font-size: 26px;
    }


    /******* Header *********/
    #matrix {
      height: 87vh;
    }

    /********************************/
    /*             Main             */
    /********************************/


    /************ About ************/


    /************ Resume ************/

    #resume-section {
      width: 50%;

    }



}
